<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web_3_1.xsd"
    version="3.1">
 <servlet>
 	<servlet-name>FirstServlet</servlet-name>
 	<servlet-class>co.jh.prj.FirstServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>FirstServlet</servlet-name>
 	<url-pattern>/First 매핑안하면 fullpath로 찾아가야 함. 이거는 보안에 취약해</url-pattern>

 </servlet-mapping>
 
</web-app>